.grid {
    height: 560px;
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 50px;
    background-color: rgba(215, 249, 191, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
}

.gridShaking {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(3deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-3deg); }
  80% { transform: translate(-1px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-3deg); }
}

.gridBack{
  z-index: -1;
}

.grid div {
    height: 70px;
    width: 70px;
}

h1 {
 font-family: 'Major Mono Display', monospace;
 font-size: 4rem;
 text-transform: uppercase;
 font-weight: 900px;
 margin-left: 50px;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2px;
 }

 h4, p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.8rem;
 }

#score {
  font-family: 'Major Mono Display', monospace;
  font-size: 3rem;
  margin-top: -5px;
 }

/* .invisible {
    background-color: white;
} */

body {
  /* background-image: url("candy-crush-background-2.png"); */
  max-width: 100vh;
  display: flex;
}

.score-board {
  border-radius: 10px;
  margin-top: 190px;
  margin-left: -200px;
  margin-bottom: 500px;
  min-width: 200px;
  min-height: 120px;

  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  padding-bottom: -30;
  background-image: linear-gradient(#aeff96, #91e92d);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #534d46;
}

.board-increase {
  transform: scale(2);
  transition-delay: 0.5s;
  transition-duration: 2s;
}


#gameProgress {
  width: 100%;
  height: 20px;
  margin-left: 30px;
  position: relative;
  background-color: #ddd;
}

#gameBar {
  background-color: #43a546;
  width: 10px;
  height: 20px;
  position: absolute;
}

#playButton {
  border-radius: 10px; 
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 300px;
  min-width: 70px;
  min-height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#e0ffd7, #c2f587);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #534d46;
}

.instructions {
  margin-top: 350px;
  margin-left: -300px;
  margin-bottom: 200px;
  min-width: 300px;
  height: 40px;
  overflow: hidden;
  padding: 0 5px 5px 10px;
  text-align: center;
}

.instructions:hover {
  color: #385f39;
  margin-top: 350px;
  margin-left: -300px;
  margin-bottom: 200px;
  min-width: 300px;
  height: 230px;
  padding: 0 5px 5px 10px;
  text-align: center;
}

footer {
  position: absolute;
  margin-top: 700px;
}


